.alive-example__wrapper {
  padding: 25px 20px 40px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    padding: 43px 30px 250px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.alive-example__background-wrapper {
  @media (min-width: @desktop-width) {
    background-color: @grey;
  }
}

.alive-example__content-wrapper {
  @media (min-width: @desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.alive-example {
  @media (min-width: @tablet-width) {
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}

.alive-example__header {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: start;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 76px;
  }
}

.alive-example__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 63px;
    padding-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    .paddings-desktop();
    width: 436px;
  }

  /*&::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 24px;
    width: 100%;
    height: 462px;
    background-color: @middle-grey;
  }*/
}

.alive-example__design-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    margin-bottom: 0;
    min-height: 77px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.alive-example__weight,
.alive-example__period {
  position: relative;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  border: 1px solid @middle-grey;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.alive-example__weight {
  @media (min-width: @tablet-width) {
    margin-right: 42px;
  }
}

.alive-example__count {
  text-align: center;
  padding-top: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black;

  @media (min-width: @tablet-width) {
    padding-top: 15px;
    font-size: 30px;
    line-height: 37px;
  }
}

.alive-example__count-title {
  position: absolute;
  top: 38px;
  margin: 0;
  text-transform: lowercase;
  margin-top: 8px;
  text-align: center;
  width: 90px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    width: 142px;
    min-height: 77px;
    top: 57px;
    white-space: nowrap;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    line-height: 14px;
    margin-top: 11px;
    background-color: @grey;
  }
}

.alive-example__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 46px;
  text-align: center;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    display: inline-block;
    width: 174px;
    font-size: 20px;
    text-align: right;
    margin-top: 31px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
  }
}

.alive-example__range {
  @media (min-width: @tablet-width) {
    position: absolute;
    background-color: transparent;
    z-index: 4;
    left: 100px;
    bottom: 320px;
  }

  @media (min-width: @desktop-width) {
    left: 50%;
  }
}

.alive-example__background {
  @media (min-width: @tablet-width) {
    min-width: 768px;
    height: 462px;
    background-color: @grey;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
    width: 0;
    height: 0;
  }
}

.alive-example__tablet-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 110px;
  }
}
