.alive-example__wrapper {
  padding: 25px 20px 40px;
  background-color: @grey;
}

.alive-example__header {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: start;
  color: @black;
}

.alive-example__text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  padding-top: 40px;
  padding-bottom: 20px;
}

.alive-example__design-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.alive-example__weight,
.alive-example__period {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  border: 1px solid rgba(205, 205, 205, 1);
}

.alive-example__count {
  text-align: center;
  padding-top: 14px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.alive-example__count-title {
  margin: 0;
  margin-top: 8px;
  text-align: center;
  max-width: 90px;
}

.alive-example__price {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}
