.instruction__wrapper {
  padding: 20px 20px 57px 20px;

  @media (min-width: @tablet-width) {
    .paddings-tablet();
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 27px;
  }
}

.instruction__header {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 25px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 40px;
  counter-reset: section;

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    width: 629px;
    min-height: 597px;
    display: grid;
    grid-template-columns: 246px 246px;
    column-gap: 153px;
    row-gap: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    min-height: 280px;
    width: 1220px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;
  }
}

.instruction__item {
  position: relative;
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      counter-increment: section;
      content: counters(section, ".", decimal) " ";
      color: @light-grey;
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      top: 0;
      left: 50%;
      z-index: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green;
    left: 0;
    top: 0;

    @media (min-width: @tablet-width) {
      top: 45px;
    }
  }

  &:first-child .instruction__text::after {
    position: absolute;
    content: "";
    background: url("../img/leaf-icon.svg") no-repeat;
    width: 30px;
    height: 30px;
    left: 19px;
    top: 15px;


    @media (min-width: @tablet-width) {
      top: 60px;
    }
  }

  &:nth-child(2) .instruction__text::after {
    position: absolute;
    content: "";
    background: url("../img/powder-icon.svg") no-repeat;
    width: 30px;
    height: 30px;
    left: 17px;
    top: 15px;

    @media (min-width: @tablet-width) {
      top: 60px;
    }
  }

  &:nth-child(3) .instruction__text::after {
    position: absolute;
    content: "";
    background: url("../img/fork-knife.svg") no-repeat;
    width: 30px;
    height: 30px;
    left: 17px;
    top: 15px;

    @media (min-width: @tablet-width) {
      top: 60px;
    }
  }

  &:nth-child(4) .instruction__text::after {
    position: absolute;
    content: "";
    background: url("../img/scales.svg") no-repeat;
    width: 30px;
    height: 30px;
    left: 17px;
    top: 15px;

    @media (min-width: @tablet-width) {
      top: 60px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
  }
}

.instruction__text {
  width: 196px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 224px;
    height: 100px;
    padding: 134px 25px 191px 0;
    font-size: 16px;
    line-height: 24px;
    top: 0;
    left: 0;
    z-index: 10;
  }

  @media (min-width: @desktop-width) {
    width: 204px;
    margin-right: 26px;
    padding-bottom: 57px;
  }
}
