.main-container__hero-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    margin: 0 auto;
    width: 1440px;
  }

  &::before {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      width: 720px;
      height: 694px;
      background-image: url("../img/index-background-desktop-2.jpg");
      background-repeat: no-repeat;
      right: 0;
      background-size: 720px auto;
    }
  }

  &::after {
    @media (min-width: @desktop-width) {
      z-index: 1;
      position: absolute;
      width: 50%;
      content: "";
      min-height: 694px;
      background-color: @green;
      left: 50%;
      opacity: 0.85;
    }
  }
}
