.features-list {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.features-list__item {
  display: flex;
  justify-content: space-between;
}

.features-list__term {
  display: inline-block;
}

.features-list__description {
  display: inline-block;
}
