.gift__wrapper {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 35px;
  background-image: url("../../img/cat-background-catalog.png");
}

.gift__text {
  margin: 0;
  margin-top: 35px;
  padding: 187px 61px 43px 58px;
  background-color: rgba(104, 183, 56, 0.85);
  color: @white;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
