.contact-information {
  position: relative;
}

.contact-information__wrapper {
  padding: 26px 20px;
  display: flex;
}

.contact-information__slogan {
  margin: 0;
  margin-top: 0 161px 0 20px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contact-information__address {
  margin: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.contact-information__pin {
  position: absolute;
  bottom: 175px;
  right: 130px;
}
