.logo {
  display: flex;
  text-decoration: none;

  &:hover {
    transition: 0.2s ease-out 0s;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    justify-content: space-between;
    align-items: center;
    width: 174px;
    margin-right: 94px;
  }
}

.logo__cat-energy {
  margin: 20px 65px 7px 57px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.logo__text {
  align-self: center;
  margin: 20px 65px 17px 57px;
}

.logo__image {
  margin-left: 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
