.main-footer {
  background-color: #f2f2f2;
}

.main-footer__social {
  box-sizing: border-box;
  padding: 20px 94px 21px 74px;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

.main-footer__wrapper {
  padding: 39px 20px 22px 20px;
}

.main-footer__logo {
  justify-content: center;
  margin-bottom: 25px;
  margin-left: 8px;
}

.main-footer__logo-html {
  display: flex;
  text-decoration: none;
}

.main-footer__logo-left {
  padding-top: 28px;
}

.main-footer__logo-right {
  padding-top: 22px;
  padding-left: 141px;
}
