.add {
  padding-bottom: 0;
}

.add__title {
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  padding-bottom: 34px;
}

.add__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 34px;
}

.add__item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 46px;
  color: @black;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}
