.add {
  padding-bottom: 0;
}

.add__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 282px 282px;
    row-gap: 42px;
    column-gap: 61px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 305px);
    gap: 0;
  }
}

.add__item {
  padding-top: 6px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }
}

.add__control {
  position: relative;
  display: block;
  padding-left: 56px;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    padding-left: 70px;
  }
}

.add__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid @middle-grey;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.add__control:hover .add__mark {
  border-color: @black;
}

.add__input:disabled + .add__mark {
  border-color: @black;
}

.add__input[type="checkbox"]:checked + .add__mark::before {
  position: absolute;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
  content: "";
  top: 9px;
  left: 5px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/checked-tablet.svg");
    width: 25px;
    height: 21px;
    left: 7px;
    top: 12px;
  }
}
