.form__part {
  padding: 0;
  margin: 0;
  .paddings();
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-left: 71px;
    padding-right: 67px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    .paddings-desktop();
  }
}

.form__part-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    padding-bottom: 69px;
  }
}

.form__label {
  display: block;
  white-space: nowrap;
}

.form__input {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  margin-left: 20px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: #444444;


  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &--input-name {
    width: 228px;

    @media (min-width: @tablet-width) {
      width: 570px;
    }

    @media (min-width: @desktop-width) {
      width: 509px;
    }
  }

  &--input-weight {
    width: 207px;

    @media (min-width: @tablet-width) {
      width: 542px;
    }

    @media (min-width: @desktop-width) {
      width: 481px;
    }
  }

  &--input-age {
    width: 173px;

    @media (min-width: @tablet-width) {
      width: 500px;
    }

    @media (min-width: @desktop-width) {
      width: 439px;
    }
  }

  &--input-phone {
    width: 202px;

    @media (min-width: @tablet-width) {
      width: 529px;
    }

    @media (min-width: @desktop-width) {
      width: 467px;
    }
  }

  &--input-email {
    width: 220px;

    @media (min-width: @tablet-width) {
      width: 548px;
    }

    @media (min-width: @desktop-width) {
      width: 486px;
    }
  }
}

.form__input-comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;
  width: 280px;
  margin-bottom: 23px;
  resize: none;

  @media (min-width: @tablet-width) {
    width: 631px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 19px;
    margin-bottom: 65px;
    border: 1px solid @grey;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
    width: 1220px;
    margin-bottom: 67px;
  }
}

.form__input-design {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: @desktop-width) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__button {
  background-color: @green;
  color: @white;
  margin-left: 20px;
  width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    width: 282px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form__addition {
  margin: 0;
  text-align: center;
  line-height: 16px;
  color: @black;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 16px;
  }
}

.form__submit-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 61px;
    padding-left: 67px;
    margin-bottom: 72px;
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-left: 110px;
    grid-template-columns: 568px 178px;
    column-gap: 84px;
    align-items: center;
    margin-bottom: 82px;
  }
}

.form__part--desktop {
  @media (min-width: @desktop-width) {
    padding-right: 80px;
  }
}
