.form__part {
  padding: 0;
  margin: 0;
  .paddings();
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  padding-bottom: 10px;
}

.form__label {
  display: inline-block;
}

.form__input {
  display: block;
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: #444444;

  &--input-name {
    width: 228px;
  }

  &--input-weight {
    width: 207px;
  }

  &--input-age {
    width: 173px;
  }

  &--input-phone {
    width: 202px;
  }

  &--input-email {
    width: 220px;
  }
}

.form__input-comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;
  width: 280px;
  margin-bottom: 23px;
  resize: none;
}

.form__input-design {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.form__button {
  background-color: @green;
  color: @white;
  margin-left: 20px;
  width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 21px;
}

.form__addition {
  margin: 0;
  text-align: center;
  line-height: 16px;
  color: @black;
}
