.form__part {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;

  &:first-child {
    margin-bottom: 25px;

    @media (min-width: @desktop-width) {
      margin-bottom: 42px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: @green;
    top: 15px;

    @media (min-width: @tablet-width) {
      top: 53px;
    }
  }
}

.form__part-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
  }
}

.form__wrapper {
  border: none;
  .paddings();
  margin: 0;

  @media (min-width: @tablet-width) {
    .paddings-tablet-form();
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.form__wrapper-cats-data {
  .paddings();

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__part.goal,
.form__part.form__part--desktop {
  &::before {
    background-color: transparent;
  }
}

.form__label {
  display: block;
  white-space: nowrap;
}

.form__input {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 19px;
  padding-bottom: 10px;
  margin-left: 15px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: #444444;

  &:focus {
    border: 1px solid @black;
  }

  &:invalid {
    border: 1px solid rgba(255, 130, 130, 1);
  }

  @media (min-width: @tablet-width) {
    margin-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &--input-name {
    width: 228px;

    @media (min-width: @tablet-width) {
      width: 570px;
    }

    @media (min-width: @desktop-width) {
      width: 509px;
    }
  }

  .form__input::-webkit-outer-spin-button,
  .form__input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }

  &--input-weight {
    width: 207px;

    @media (min-width: @tablet-width) {
      width: 542px;
    }

    @media (min-width: @desktop-width) {
      width: 481px;
    }
  }

  &--input-age {
    width: 173px;

    @media (min-width: @tablet-width) {
      width: 500px;
    }

    @media (min-width: @desktop-width) {
      width: 439px;
    }
  }

  &--input-phone {
    position: relative;
    width: 202px;
    padding-right: 56px;

    @media (min-width: @tablet-width) {
      width: 529px;
    }

    @media (min-width: @desktop-width) {
      width: 467px;
    }

    &:focus + .owner-contacts__icon {
      color: @green;
    }
  }

  &--input-email {
    position: relative;
    width: 217px;
    padding-right: 40px;

    @media (min-width: @tablet-width) {
      width: 548px;
    }

    @media (min-width: @desktop-width) {
      width: 486px;
    }

    &:focus + .owner-contacts__icon {
      color: @green;
    }
  }
}

.form__input-comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid @grey;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;
  width: 100%;
  resize: none;
  min-height: 150px;
  margin-bottom: -7px;
  margin-top: 9px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 19px;
    height: 174px;
    margin-top: 43px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 9px;
    padding-bottom: 0;
    margin-top: 38px;
  }
}

.form__input-design {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 19px;

    @media (min-width: @desktop-width) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  background-color: @green;
  color: @white;
  margin-left: 20px;
  width: 280px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 21px;
  margin-top: 9px;

  &:hover {
    background-color: rgb(95, 172, 47);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 282px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 0;
    margin-left: 3px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form__addition {
  margin: 0;
  line-height: 16px;
  color: @black;
  margin-bottom: 33px;

  @media (max-width: @mobile-width-only) {
    margin-left: 84px;
  }

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 16px;
    padding-top: 14px;
    padding-left: 4px;
    margin-bottom: 22px;
  }
}

.form__submit-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 61px;
    padding-left: 67px;
    margin-bottom: 72px;
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    grid-template-columns: 568px 190px;
    column-gap: 84px;
    align-items: center;
    margin-bottom: 85px;
    margin-top: 36px;
  }
}

.form__part--desktop {
  @media (min-width: @desktop-width) {
    padding-right: 80px;
  }
}
