.goal {
  overflow-x: hidden;

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.goal__list {
  position: relative;
  margin: 0;
  list-style-type: none;
  padding: 10px 20px 20px;
  margin-bottom: 4px;

  @media (max-width: @mobile-width-only) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 1000%;
      height: 1px;
      background-color: @grey-2;
      top: 157px;
      left: -30px;
    }

    &::after {
      top: -3px;
    }
  }

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    padding-top: 57px;
    padding-bottom: 69px;
    padding-left: 98px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 570px;
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 29px;
  }
}

.goal__item {
  padding-top: 10px;
  padding-bottom: 5px;
  color: rgba(34, 34, 34, 1);

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 12px;
    padding-bottom: 1px;
  }
}

.goal__control {
  position: relative;
  display: block;
  padding-left: 46px;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.goal__mark {
  position: absolute;
  box-sizing: border-box;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid @middle-grey;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.goal__control:hover .goal__mark {
  border: 2px solid rgba(186, 186, 186, 1);
}

.goal__input:disabled + .goal__mark {
  opacity: 0.3;
}

.goal__input:disabled ~ .goal__label {
  opacity: 0.3;
}

.goal__input[type="radio"]:checked + .goal__mark::before {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: @green;
  border-radius: 50%;
  content: "";
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}
