.goal {
  @media (min-width: @desktop-width) {
    padding-right: 110px;
    padding-left: 0;
  }
}

.goal__list {
  padding: 0;
  margin: 0;
  .paddings();
  list-style-type: none;
  border-bottom: 1px solid @grey-border;
  padding-top: 23px;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    margin-top: 58px;
    margin-bottom: 75px;
    padding-top: 30px;
    padding-bottom: 34px;
    padding-left: 28px;
    border: 1px solid @grey;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 570px;
    padding-bottom: 0;
  }
}

.goal__item {
  padding-top: 6px;
  padding-bottom: 6px;
  color: rgba(34, 34, 34, 1);

  &:not(:last-child) {
    padding-bottom: 13px;
  }

  &:last-child {
    padding-bottom: 19px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.goal__control {
  position: relative;
  display: block;
  padding-left: 56px;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    padding-left: 70px;
  }
}

.goal__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid @middle-grey;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.goal__control:hover .goal__mark {
  border: 2px solid @black;
}

.goal__input:disabled + .goal__mark {
  border-color: #242424;
}

.goal__input[type="radio"]:checked + .goal__mark::before {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: @green;
  border-radius: 50%;
  content: "";
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}
