.main-form-container {
  overflow-x: hidden;
}

.main-form-container__wrapper {
  .paddings();

  @media (min-width: @tablet-width) {
    .paddings-tablet-form();
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.main-form-container__header {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 58px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-top: 187px;
  }
}

.main-form-container__text {
  margin: 0;
  width: 226px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    width: 323px;
    margin-bottom: 66px;
  }
}
