.main-form-container__wrapper {
  @media (min-width: @desktop-width) {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-form-container__header {
  margin: 0;
  .paddings();
  margin-top: 27px;
  margin-bottom: 37px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 69px;
    margin-top: 58px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 187px;
    padding-left: 110px;
    padding-bottom: 56px;
  }
}

.main-form-container__text {
  margin: 0;
  .paddings();
  width: 226px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    width: 323px;
    margin-left: 70px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}
