.owner-contacts__title {
  width: 187px;
  text-transform: none;

  @media (min-width: @tablet-width) {
    min-width: 520px;
  }

  @media (min-width: @desktop-width) {
    width: 516px;
  }
}

.owner-contacts__wrapper {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  &:first-child {
    @media (max-width: @mobile-width-only) {
      margin-top: 30px;
    }
  }

  &:not(:last-child) {
    @media (min-width: @desktop-width) {
      margin-right: 78px;
    }
  }
}

.owner-contacts__wrapper-desktop {
  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}

.owner-contacts__label {
  display: block;

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
